./codeSandbox/codeEnv

# Compiled class file
*.class

# Eclipse
.project
.classpath
.settings/

# Intellij
*.ipr
*.iml
*.iws
.idea/

# Maven
target/

# Gradle
build
.gradle

# Log file
*.log
log/

# out
**/out/

# Mac
.DS_Store

# others
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.pid
*.orig
temp/
./frontend/huang_oj/.git
./frontend/huang_oj/.idea
./frontend/huang_oj/node_modules
./frontend/huang_oj/package-lock.json
./frontend/huang_oj/yarn.lock
./backend/.idea
./backend/.mvn
./backend/doc
./backend/target
./backend/.mvn
./backend/.mvn
./backend/.mvn
./backend/src/main/resources/application.yml
./codeSandbox/src/main/resources/application.yml
./yioj-backend/yioj-backend-comment-service/src/main/resources/application.yml
./yioj-backend/yioj-backend-problem-service/src/main/resources/application.yml
./yioj-backend/yioj-backend-user-service/src/main/resources/application.yml
./yioj-backend/yioj-backend-submission-service/src/main/resources/application.yml
./yioj-backend/yioj-backend-common-service/src/main/resources/application.yml
./yioj-backend/yioj-backend-model-service/src/main/resources/application.yml
./yioj-backend/yioj-backend-gateway-service/src/main/resources/application.yml
./yioj-backend/yioj-backend-comment-service/src/main/resources/application-prod.yml
./yioj-backend/yioj-backend-problem-service/src/main/resources/application-prod.yml
./yioj-backend/yioj-backend-user-service/src/main/resources/application-prod.yml
./yioj-backend/yioj-backend-submission-service/src/main/resources/application-prod.yml
./yioj-backend/yioj-backend-common-service/src/main/resources/application-prod.yml
./yioj-backend/yioj-backend-model-service/src/main/resources/application-prod.yml
./yioj-backend/yioj-backend-gateway-service/src/main/resources/application-prod.yml